*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

html,body{
    height:100vh;
    width:100%;
    background-position: center;
    background-size: cover;
}

body{
    height: 100vh; 
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    background-image: url(pikachu.jpg);
}

#mainhead h1{
    padding-left:2%;
    padding-top:1%;
    font-size: 30px;
    font-family: "Anurati";
    color:white;
    letter-spacing: 2px;
    
}

#mainhead h1:hover{
    cursor: pointer;
}


hr{
    width:260px;
    margin-left: 25px;
    background-color:burlywood;
    height: 3px;
}

#almighty{
    background-color:#00000035;
    height: 100%;
    width:100%;
}

/* #header{
    display: flex;
    gap:50px;
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);
} */

#header a{
    position: absolute;
    left:40%;
    font-family: "montserrat";
    text-decoration: none;
    color:#fffffffa;
    background-color: transparent;
    border:1px solid rgb(222, 255, 78);
    border-radius:5px;
    letter-spacing: 1px;
    font-size:12px;
    padding:2px;
}

#header a:hover{
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.671);
}



#heading h1{
    font-family: "Anurati", sans-serif;
    position: absolute;
    top:20%;
    left:51%;
    transform: translate(-50%,0);
    font-size:  100px;
    color:white;
    letter-spacing: 30px;
    box-shadow: 1px  2px 20px 10px #3E4C59;
    padding-left:25px;
}


#heading h1:hover{
    cursor:pointer;
}



#about h1{
    font-family: "autography", cursive;
    position: absolute;
    top:50%;
    left:50%;
    color:white;
    transform: translate(-50%,0); 
    font-size:100px;
}

#about p{
    font-family: "montserrat";
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,0); 
    width:100%;
    color:#dadada;
    text-align: center;
}

@media (max-width:480px) {
    #mainhead h1{
        font-size: 10px;
        padding-top:2%;
    }

    #mainhead hr{
        width:100px;
        margin-left:8px;
    }

    #header{
        position: absolute;
        left: 60%;
        top:1%;
        transform: translate(-50%,0);
        gap:15px;
    }


    #header a{
        font-size: 5px;
        padding: 4px;
    }

    #heading h1{
        font-size: 30px;
        letter-spacing: 15px;
    }

    #about h1{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size: 30px;
    }

    #about p{
        position: absolute;
        left:50%;
        top:70%;
        transform: translate(-50%,-50%);
        font-size:10px;
        padding-bottom:4px;
        line-height: 2;
    }
}




@font-face {
    font-family: "Anurati";
    src: url("Fonts/Anurati-Regular.otf") format("opentype"); 
}

@font-face {
    font-family: "Autography";
    src: url("Fonts/Autography.otf") format("opentype");
}
